body {
    margin: 0;
    background: #FFEDAB;
    font-family: 'Poppins', sans-serif;
}

.notebook {
    max-width: 800px;
    margin: 30px auto;
    background: lightpink;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    border: 2px solid #FDF8E2;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #ffbfd2;
}

.header-text {
    text-align: left;
}

.header-text h1 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    font-size: 32px;
    color: #d86c8b;
}

.header-text .subtitle {
    color: #6b9071;
    font-weight: 400;
    margin-top: 5px;
}

.page {
    background: rgba(255,255,255,0.8);
    padding: 20px;
    margin: 30px 0;
    border
